* {
    box-sizing: border-box;
}

html {
    font-size: 62%;
}

body {
    margin: 0;
    font-size: 1.4rem;
    font-family: "Prompt", sans-serif;
    font-weight: normal;
}

.screen {
    min-height: 100vh;

    padding-left: 12rem;
    padding-right: 12rem;

    background-color: antiquewhite;
}

.header {
    display: flex;
    justify-content: center;

    padding: 3.6rem 0;
}

.navigasi {
    display: flex;
    font-size: 1.8rem;

    & > .item-link {
        margin-left: 4.8rem;

        & a {
            padding: 1.2rem;
            border-radius: 3px;

            color: black;
            text-decoration: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    & > .item-link:first-child {
        margin-left: 0;
    }
}

.main {
    max-width: 48vw;
    margin: 0 auto;
    margin-top: 60px;
}

.heading-judul {
    font-weight: normal;
    text-align: center;

    .konversi-stabilo {
        position: relative;
    }

    .konversi-stabilo::after {
        content: " ";

        position: absolute;
        bottom: -4px;
        left: 0;

        width: 100%;
        height: 4px;
        background-color: yellow;
    }
}

.deskripsi {
    font-size: 1.8rem;
    text-align: center;
}

.tabel-kurs.memuat {
    padding: 2rem;
}

.tabel-kurs {
    width: 100%;
    margin-top: 4.8rem;

    background-color: white;
    border-spacing: 0;
    border-radius: 4px;

    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;

    & th,
    td {
        padding: 15px 10px;
    }

    td {
        margin: 0;
        border: 0;
        border-top: solid 1px rgba(222, 184, 135, 0.2);
    }

    & th {
        font-size: 1.8rem;
        font-weight: normal;
    }

    .kolom-mata-uang {
        text-align: left;
    }

    .kolom-harga {
        text-align: right;
    }
}

.form-konversi {
    width: 100%;
    margin-top: 4.8rem;
    padding: 3.6rem 2rem;

    background-color: white;
    border-radius: 3px;

    font-size: 2.8rem;

    .input-konversi {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .input-nominal {
        width: 28rem;
        margin: 0 1rem;
        padding: 1rem;

        font-size: 2.8rem;
        text-align: right;
    }

    .sama-dengan {
        margin: 1rem 0;
        text-align: center;
        font-size: 3.6rem;
    }

    .hasil-konversi {
        text-align: center;

        span.hasil-konversi-angka {
            margin-left: 1rem;
        }
    }
}

.footer {
    padding: 3rem 0;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: burlywood;
}
